<div id="subgroupListFiltersContainer">
    <div id="menageColumnsFiltersVisibility" style="margin-left: 10px; float: left; padding-top: 5px;">
        <a href="#" class="label" style="display:inline-block;margin-top:0px;" onclick="openSubgroupFiltersContainer();" id="divResizableSubgroupFiltersOpen">Filter results</a>
        <a href="#" class="label" style="display:inline-block;margin-top:0px;" id="divClearAllTableFilters" onclick="clearAllTableFilters();">Clear all table filters</a>
    </div>
    <div style="clear: both;"></div>
    <div class="columnsSelector" style="height: 220px;">
        <div id="columnsSelectorId"></div>
        <div id="columnsSelectorButtonsId" style="margin-top: 15px;">
            <a href="#" class="exporterButton" id="applyColumnsSelectorId" onclick="searchFunc.applyColumnsSubgroupSelector()">Apply</a>
            <a href="#" class="label" id="cancelColumnsSelectorId" onclick="searchFunc.closeColumnsSubgroupSelector()">Cancel</a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
