<div id="materialFilters" class="filtersPageBrowse">
    <div style="margin-top:10px;margin-bottom:10px;" class="materialsFiltersContent">
        @Html.Action("GetFiltersMaterials", "Home", null)
    </div>
  @*  <div style="margin:10px;">
        <a class="browseSerach" href="#" onclick="searchFunc.browseMaterials();">Search</a>
    </div>*@

</div>
